<<<<<<< HEAD
=======

>>>>>>> 9dbff5d5beda9254184915c28c5c31a2645b7ec7
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Global styles */
* {
  font-family: 'Montserrat' !important;
}

.Container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f1;
}

.SwitchForm {
  background-color: white;
  width: 30%; 
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 5px;
  overflow: hidden; 
}

.Switch {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.Switch button {
  width: 100%;
  height: 50px;
  border: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: all 0.3s ease;
}

.Switch :nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

.Switch :nth-child(2) {
  border-radius: 0px 5px 0px 0px;
}

button.active {
  color: white;
  background-color: #2c3e50 !important;
  cursor: pointer;
}

.Switch button:hover {
  color: white;
  background-color: #2c3e50 !important;
  cursor: pointer;
}

.LoginRegister {
  display: flex;
  flex-direction: column; 
  padding: 20px;
  justify-content: center;
}

.form-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  display: block;
  margin-bottom: 15px;
  position: relative;
  width: 80%; 
}

.input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #333;
  width: 100%;
  font-size: 18px;
}

.input:last-child {
  border-bottom: 0;
}

.input:focus {
  border-bottom: 1px solid black;
}

.input:focus + .label,
.label {
  top: -10px !important;
  font-size: 12px;
  color: black !important;
  background-color: white;
}

.input::-webkit-input-placeholder {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.label {
  position: absolute;
  top: 10px !important;
  left: 15px;
  font-size: 18px;
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
}

<<<<<<< HEAD

=======
>>>>>>> 9dbff5d5beda9254184915c28c5c31a2645b7ec7
.submit-btn {
  color: black;
  border: 0;
  border-radius: 4px;
  display: block;
  margin: 15px auto;
  margin-top: 8%;
  padding: 5px 10px;
  width: 50%;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  color: white;
  background-color: #2c3e50;
}

.error-message,
.success-message {
  color: #dc3545; 
  margin-top: 10px;
}

.error-input {
  border: 1px solid #dc3545;
}

.success-message {
  color: #007E33; 
}
.input:not(:placeholder-shown) + .label,
.input:focus + .label {
  top: -10px !important;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.Popupmessage {
  position: absolute;
  top: 0;
  height: auto;
  max-height: 8%;
  width: 20%;
  opacity: 0;
 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
  font-size: 20px;
  overflow: hidden;
  color: transparent;
}

.ErrorAlert.show  {
  color: #dc3545;
   animation: slideUpDown 2.5s ease-in-out;
}

.SuccessAlert.show  {
  color: #28a745;
   animation: slideUpDown 2.5s ease-in-out;

}

@keyframes slideUpDown {
  0% {
    opacity: 0;
    max-height: 0;
  }
  25% {
    opacity: 1;
    max-height: 8%;
  }
  75% {
    opacity: 1;
    max-height: 8%;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}



form[name="registerForm"] .submit-btn {
  margin-top: 15px;
  height: 50px; 
}

form[name="loginForm"] .submit-btn {
  margin-top: 15px; 
  height: 50px; 
}

.input-group {
  display: block;
  margin-top: 25px; 
  position: relative;
  width: 80%;
}
.input-group .password-constraints {
  font-size: 12px;
  color: #dc3545;
  margin-top: 5px;
}