<!-- <div class="Container">
    <div>
      aaa
    </div>
    <div class="TopMenu">
      <div class="Title">
        <h3>Server Monitoring</h3>
      </div>
      <div class="Disconnect">
        <button>Disconnect</button>
      </div>
    </div>
    <div class="Dashboard">
      <div class="ChartContainer">
        <canvas id="myChart" width="400" height="200"></canvas>
      </div>
      <app-dashboard-card
        *ngFor="let service of data.services"
        [title]="service.ServiceName"
        [content]="service.Activity"
        [icon]="service.Activity === 'Active' ? 'done' : 'close'"
      ></app-dashboard-card>
    </div>
  </div>
   -->